services:
  db:
    image: postgres:16.6-alpine
    container_name: gestor-one
    restart: unless-stopped
    environment:
      POSTGRES_DB: "testing"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "adminPassword"
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data:

networks:
  backend:
    driver: bridge
